.habit-card-sec{
    height: 5rem;
    width: 90%;
    margin: 1rem;
    border: 1px solid beige;
    display: flex;
    
}
.habit-cont-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border: 1px solid beige;
    position: relative;
}
.card-profile{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-profile img{
    height: 80%;
    width: 75%;
    border-radius: 50%;
}
.card-user-name{
    height: 100%;
    width: 20%;
    padding: .5rem;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-btn-sec{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.card-btn-sec button{
    cursor: pointer;
    margin: 0 1rem;
    min-height: 3rem;
    padding: .5rem 1rem;
    border: 2px solid #2458D1;
    color: #2458D1;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
    transition: all .5s;
}
.card-btn-sec button:hover{
    background-color: #2458D1;
    color: #fff;
}

.pomodoro{
    text-align: center;
    width: 20rem;
    padding: .5rem;
}
.pomodoro-timer{
    font-size: 1.2rem;
    
}
.pomodoro-timer span{
    background-color: #494949;
    padding: .5rem .8rem;
    border-radius: 5px;
    color: #fff;
}
.pomodoro p{
    margin-top: 10px;
}
.pomodoro button{
    height: 2rem;
    width: 5rem;
    margin: 0 10px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
}
.stats-cont{
    display: flex;
}
.done-overlay{
    height: 100%;
    width: 100%;
    background-color: #ffffffa8;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    margin-left: 1rem;
}
.done-overlay span{
    cursor:pointer;
}
@media (min-width: 481px) and (max-width: 810px){
    .card-btn-sec button{
        min-width: 5rem;
        height: 2rem;
        font-size: .6rem;
    }
    .pomodoro button{
        width: 3rem;
        border-radius: 0;
    }
}

@media (max-width: 480px)  {
    .card-btn-sec{
        display: none;
    }
    .card-profile{
        width: 30%;
    }
    .card-user-name{
        width: 40%;
    }
    .stats-cont{
        display: none;
    }
    
}