.habit-cont{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.habitside-sec{
    min-width: calc(100vw - 20rem);
    max-width: auto;
    height: 100%;
}
.blank-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
.blank-div span{
    cursor: pointer;
}
.no-data-text{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-size: 2rem;
    letter-spacing: 2px;
    justify-content: center;
}


@media (max-width: 480px)  {
    .habitside-sec{
        min-width: calc(100vw - 3rem);
        max-width: auto;
        height: 100%;
    }
    .no-data-text{
        font-size: 1.5rem;
        text-align: center;
    }
}